.main {
  font-size: 14px;
  background-color: rgb(244, 244, 244);
}

table,
th,
td {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
table {
  border-collapse: collapse;
}

.header {
  background: rgb(33, 37, 41);
  display: flex;

  justify-content: space-between;
}

.navLogo {
  display: flex;
  margin-top: 17px;
  color: white;
}

.first-container {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  max-width: 98%;
  max-height: fit-content;
  margin: 0 auto;
  border: 1px solid #fff;
  border-radius: 2px;
}
input[type="text"],
select {
  width: 95%;
  padding: 12px 15px;
  margin: 8px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: rgb(224, 224, 224);
  background-image: url("./assests/search_25px.png");
  background-repeat: no-repeat;
  background-position: left;
  padding-left: 30px;
  padding-top: 10px;
}
.button {
  background-color: rgb(15, 98, 254);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.first-table {
  width: 60%;
}

.second-table {
  width: 40%;
}
.first-table-content {
  padding-left: 5px;
  width: 97%;
  justify-content: space-between;
}

.second-table-content {
  padding-left: 5px;
  width: 97%;
  justify-content: space-between;
}

.second-container {
  margin-top: 20px;
}

.second-table-container {
  margin-top: 20px;
  max-width: 98%;
  max-height: fit-content;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 4px;
}
.second-container-content {
  color: rgb(112, 161, 250);
  margin-top: 10px;
  padding-left: 30px;
  display: flex;
  justify-content: space-between;
}
